{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Gym</title>
    <!-- Bootstrap CSS -->
    <!-- Custom fonts for this template-->
    <link href="{% static 'back/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'back/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        .gallary{
            height: 350px; margin:15px;
            border: 1px solid gray;
            border-radius: 4px;
        }
        .cardd{
            background-color: #fff;
             color:black ; 
            padding:7px;
            border-radius: 10px;
            margin: 1rem;
            height:150px;
            

        }
        .cardd:hover{
            background-color: rgba(59, 53, 53, 0.719);
             color:white ; 
            padding:7px;
            border:2px solid gold;
            border-radius: 10px;
            margin: 1rem;
            height: 160px;
            
        }
    </style>
   

</head>
<body style="background-image: url('/static/front/weight.jpeg');background-color: black; background-repeat: no-repeat; color: white;">
    {% include "front/navbar.html" %}

    <header class="text-center text-white mt-5">
        <h1><b style="color: gold;">FITNESS</b> IS HAPPINESS</h1>
        <h4>Exercise Really Makes You Happier<br>Your Journey to <b style="color: gold;">Fitness </b>Starts Here</h4>
    </header>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                
                    <h1 style="color: gold; margin-top: 7rem;">DYNOMO FITNESS GYM : A 20-YEAR FITNESS LEGACY!</h1>
                    <h3 style="color: #fff;">Unleash Your Potential with World-Class Facilities and Expert Trainers</h3>
                    <p>At FITNESS Gym, we believe in empowering your fitness journey with our certified personal trainers, state-of-the-art equipment, and a welcoming environment. Our newly renovated 10,000 Sq. Ft. gym floor is equipped with top-tier brands like Life Fitness, Nautilus, Cybex, and Matrix, ensuring a premium workout experience.</p>
                    <br>
                    <h3 style="color: #fff;">Exclusive Amenities for a Luxurious Fitness Experience</h3>
                    <p>Enjoy our 5-star amenities including new water purifier, changing areas, and 10 cameras have been installed for safety. We also offer convenient valet parking.</p>
                    <br>
                    <h3 style="color: #fff;">Join Our Community – Flexible Membership Options Available</h3>
                    <p>Choose from a range of membership plans – from a single day to annual subscriptions. Every new member receives a complimentary Fitness Assessment, a Personal Training session, and a Body Composition Assessment.</p>
                    <br>
                    <h3 style="color: #fff;">Sale All Fitness Product & Equipment</h3>
                    <p>You can purchase any gym product and equipment like weight gainer, muscle gainer, whey protein, fat burner, dumbbell set, and more. <a href="{% url 'product' %}">PRODUCT PAGE!</a></p>
                    <br><br>
                    <div class="margindiv">
                        <h2>STEP UP YOUR <br><b class="b">FITNESS CHALLENGE</b> WITH US</h2>
                        <a class="bg" href="{% url 'owner' %}"><b>Join with us -></b></a>
                        <a class="bg" href="{% url 'login' %}"><b>MEMBERSHIP</b></a>
                    </div>
                
            </div>
            <div class="col-md-4">
                <div style="margin-top: 7rem; border: 2px solid gold; border-radius: 10px; padding: 4px;">
                    <div class="membership-section">
                        <h3 style="color:gold; text-align: center;">SIGN-UP TODAY!</h3>
                        <form id="membership-form" class="membership-form" method="post" action="{% url 'index' %}">
                            <label for="fname">YOUR NAME:</label>
                            <input type="text" name="name" class="form-control" required>
                            <label for="mobile">MOBILE:</label>
                            <input type="number" name="mobile" class="form-control" required>
                            <label for="address">ADDRESS:</label>
                            <input type="text" name="address" class="form-control">
                            <label for="gender">GENDER:</label>
                            <select name="gender" class="form-control" required>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" name="check" required>
                                <label class="form-check-label">First Read <a href="{% url 'terms_and_conditions' %}">Terms & Condition</a>, I am interested in a Membership at DYNOMO FITNESS Gym bhagat ki kothi, Jodhpur. Please call me.</label>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">SEND</button>
                        </form>
                    </div>
                    <div style="padding-top: 5px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.0101776502406!2d73.01626427441624!3d26.261333087781523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418de988e4aed1%3A0xe7317df39ad7ef9a!2sDYNOMO%20FITNESS%20Gym!5e0!3m2!1sen!2sin!4v1706502653702!5m2!1sen!2sin" width="335" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5"  >
        <div class="row" >
            <div class="col-md-5" style="border:2px solid #67bed8;  padding: 16px;">
                <div >
                    <h1 style="color:#1cb8e7; padding-left: 20px;">BMI Calculator</h1>
                    <form method="get" action="{% url 'calculate_bmi' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="feet" class="labelbmi">Height (Feet):</label>
                            <input type="number" name="feet" min="1" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="inches" class="labelbmi">Height (Inches):</label>
                            <input type="number" name="inches" min="0" max="11" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="weight" class="labelbmi">Weight (kg):</label>
                            <input type="number" name="weight" min="1" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="age" class="labelbmi">Age:</label>
                            <input type="number" name="age" min="1" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Calculate BMI</button>
                    </form>
                    <div class="rscolor mt-3" style="background-color: #fff; color:black; padding: 6px;">
                        
                        {% if bmi %}
                        <p>Your BMI is: <b>{{ bmi|floatformat:2 }}</b></p>
                        <p>Classification: <b>{{ classification }}</b></p>
                        {% endif %}
                        {% if error %}
                        <p class="error"><b>{{ error }}</b></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="container">
                    <h3 style="color:#1cb8e7">BMI Classification</h3>
                    <p>BMI, or Body Mass Index, is a numerical value of a person's weight in relation to their height. It is a widely used screening tool to categorize individuals into different weight status categories.</p>
                    <p>Underweight: BMI less than 18.5</p>
                    <p>Normal Weight: BMI between 18.5 and 24.9</p>
                    <p>Overweight: BMI between 25 and 29.9</p>
                    <p>Obese: BMI of 30 or greater</p>
                </div>
            </div>
        </div>
    </div><br>
    <br>
    



             <div style="border: 2px solid #fff; padding:5px">
                    <h2 style="color:#fff; text-align: center; padding: 15px;">OUR GALLERY</h2>
                    <div class="row col-md-12">
                         {% for image in images %}
                        <div class="col-md-4">
                        <img class="d-block w-100" style=" height: 300px; margin:15px; border: 1px solid gray; border-radius: 4px;" src="{{ image.image.url }}" alt="Image">
                        </div>
                        {% endfor %}
                    </div>
             </div>
        </div>
        

    <main class="mt-5 row">
        <h2 class="fea text-center">Featured Content</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box cardd">
                        <h3>Personal Training</h3>
                        <p>Customized workout plans tailored to your goals.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box cardd">
                        <h3>SHOP GYM PRODUCT</h3>
                        <p>Discover high-quality fitness equipment and supplements for your ultimate workout experience.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box cardd" >
                        <h3>Nutrition Counseling</h3>
                        <p>Expert guidance on maintaining a balanced and healthy diet.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "front/footer.html" %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'back/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'back/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'back/vendor/bootstrap/js/bootstrap_datepicker.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'back/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'back/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'back/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'back/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'back/js/demo/chart-pie-demo.js' %}"></script>
<!-- Add this script to handle overall page search functionality -->


</body>
</html>
