{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Login Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'front/pro_vendor/bootstrap/css/bootstrap.min.css' %}">
  <style>
        body {
            background-color: #f5f5f5;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-container {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
            width: 300px;
        }
    </style>
</head>

<body>
       
        <div class="row justify-content-center col-mb-12 border border-secondary" >
            <div class="col-md-6" >
               <img src="{% static 'front/product_images/sform.jpg' %}" style="height: 500px;">
            </div>
            <div class="col-md-6">
                
                    <h2 class="text-center mb-4 mt-3">Login Your Membership </h2>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group mt-5">
                            <input type="text" class="form-control" placeholder="Member ID" name="memberid" required>
                        </div>
                        <div class="form-group mt-3">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                  
                        </div>
                    </form>
                    <div class="text-center">
                        <p>If you are already a member </p>
                        <p>For New user <a href="{% url 'membership' %}#membership-section">Sign up</a></p>
                    </div>
                
            </div>
        </div>
   
</body>
</html>
