<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        pre{
            font-size:20px;
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre><i><b>You can include terms and conditions regarding health, insurance, and
         Gym liability in your membership agreement. Here's a sample statement:</b></i>

=>  "By signing up for membership at our gym, you acknowledge and agree that participation 
     In any gym activities including but not limited to exercise, fitness classes, 
     And the use of gym equipment, carries inherent risks, Including the risk of injury or illness.
     You further acknowledge and understand that the gym does not provide 
     Any health or accident insurance coverage for its members.

=>   You agree that the gym, its owners, staff, and affiliates shall not be liable for 
     Any injuries, damages, or losses suffered by you or any other person while on 
     The premises of the gym or participating in any gym activities,
     Including those resulting from negligence or other acts or omissions.

=>   You also understand that membership fees are non-refundable once paid, 
     Regardless of the circumstances.
     It is your responsibility to ensure that you are in good health and able to safely participate in gym activities.

=>   By signing this agreement, you release the gym from any and all claims,
     Demands, or causes of action arising out of or related to your membership or 
     Participation in gym activities, including those arising from the negligence of the gym or its staff."

=>   Make sure to consult with legal counsel to ensure that your terms and conditions comply with 
     Applicable laws and regulations in your jurisdiction.
</pre>
</body>
</html>