{% extends 'back/admin_base.html' %}

{% load static %}
{% block mainblock %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                href="https://datatables.net">official DataTables documentation</a>.</p>

        {% for trainer in trainers %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ trainer.picurl }}" alt="Card image cap" style="height: 14rem;">
                <div class="card-body">
                    <h5 class="card-title">Name: {{ trainer.tname }}</h5>
                    <p class="card-text">Email: {{ trainer.email }}</p>
                    <p class="card-text">Mobile: {{ trainer.mobile }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Personal Trainer: {{ trainer.membernumber }} Member</li>
                    <li class="list-group-item">Amount: {{ trainer.amount }} Member</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">More Details</a>
                </div>
            </div>
        {% endfor %}

    </div>











    

{% endblock %}
