{% extends 'back/admin_base.html' %}

{% load static %}
{% block mainblock %}
<div class="container mt-5">
    <h1>Upload Gym Images</h1>
    <form action="{% url 'gym_imga_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" col-md-6">
            <input type="file" class="custom-file-input" id="image" name="image" >
            <label class="custom-file-label" for="image">Choose file...</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Upload</button>
    </form>
</div>


<table class="table table-bordered" id="dataTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        {% if request.GET.delete_success %}
        <div class="alert alert-info" role="alert" id="delete-success-alert">
            Delete Successful! ID: {{ request.GET.image_id }}
        </div>
        <script>
            // Automatically remove the alert after 5 seconds
            setTimeout(function(){
                var deleteSuccessAlert = document.getElementById('delete-success-alert');
                if (deleteSuccessAlert) {
                    deleteSuccessAlert.remove();
                }
            }, 5000); // 5000 milliseconds = 5 seconds
        </script>
        {% endif %}
        {% for image in images %}
        <tr>
            <td>{{ image.id}}</td>
            <td><img src="{{ image.image.url }}" class="img-fluid" style="height: 180px; width: 280px;" alt="Gallery Image"></td>
            <td><a href="{% url 'gym_imgdelete' image_id=image.id %}" class="btn btn-danger btn-sm ">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}